<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="feed({ username: '' })" ui-sref-active="active">Tweeter</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-left">
      <li><a ui-sref="users" ui-sref-active="active">Users</a></li>
        <li><a ng-href="{{app.getProfileUrl()}}" ui-sref-active="active">Profile</a></li>
    </ul>

    <ul class="row nav navbar-nav navbar-right">
      <!-- search field for tags and mentions -->
      <form class="navbar-form col-xs-6">
        <li class="form-inline">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" ng-class="{active: app.searchType==='@'}"
              ng-click="app.searchType='@'; app.currSearch='Username'">@</button>
              <button class="btn btn-default" ng-class="{active: app.searchType==='#'}"
              ng-click="app.searchType='#'; app.currSearch='Tag'">#</button>
            </span>
            <input type="text" class="form-control" placeholder="{{app.currSearch}}" ng-model="app.searchInput">
          </div>
        </li>
      </form>
      <li><a class="btn col-xs-3" ui-sref-active="active" ng-click="app.search()">Search</a></li>
      <li><a class="btn col-xs-3" ui-sref-active="active" ng-click="app.loggingOut()">Logout</a></li>
    </ul>
  </div>
  </div>
</nav>
<ui-view></ui-view>
